HELIOS_MEDIA_EXAMPLE_API_KEY=
HELIOS_MEDIA_EXAMPLE_BASE_URL=
HELIOS_MEDIA_EXAMPLE_MODEL=
HELIOS_MEDIA_EXAMPLE_TIMEOUT_SECONDS=60
HELIOS_MEDIA_EXAMPLE_MAX_ATTEMPTS=1
HELIOS_MEDIA_EXAMPLE_ENABLED=true

HELIOS_RUNWAY_LIVE_ENABLED=false
HELIOS_MEDIA_RUNWAY_API_KEY=
HELIOS_MEDIA_RUNWAY_BASE_URL=
HELIOS_MEDIA_RUNWAY_MODEL=
HELIOS_MEDIA_RUNWAY_PRICE_PER_SECOND_USD=
